.wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 50px;

  .search_form {
    width: 100%;
    max-width: 1012px;
    display: flex;
    justify-content: center;

    input {
      width: 100%;
      padding: 5px 12px;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 20px;
      border: solid 1px #e1e4e8;
      border-radius: 6px;
      outline: none;

      &:focus {
        border-color: #0366d6;
        box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
      }
    }

    button {
      padding: 5px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid #d3d5d6;
      border-radius: 6px;
      background-color: #fafbfc;
      margin-left: 8px;
      outline: none;

      &:hover {
        background-color: #f3f4f6;
      }
    }
  }
}

.loading {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
